<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<center>
    <table border="2">
        <caption>Employ Records</caption>
        <thead>
        <tr>
            <th>did</th>
            <th>Id </th>
            <th>Name</th>
            <th colspan="2">Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for Data in data %}
        <tr>
            <td>{{Data.id}}</td>
            <td>{{Data.eid}}</td>
            <td>{{Data.ename}}</td>
            <td><a href="/delete/{{Data.id}}">Delete</a> </td>
            <td><a href="/edit/{{Data.id}}">Update</a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</center>
</body>
</html>
